<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/CSS/Style.css">
</head>
<body>
<div   class="info  " th:fragment="costomerimg" layout:fragment="content">
  <img class="w" src="https://i.pinimg.com/564x/93/04/3a/93043a544a5a329887cbbab977e30220.jpg"/>
    <h1>ResAtica</h1>
    <p class="w-100">Free posting and sharing any article with insane free dome</p>
    <h1 class="w-100" >Popular Category</h1>
    <div class="btn-light w-50">
        <button class="but btn-outline-secondary w-100" >Education</button>
        <button class="but btn-outline-secondary w-100">Sport</button>
        <button class="but btn-outline-secondary w-100">Programming</button>
        <button class="but btn-outline-secondary w-100">Science</button>
        <button class="but btn-outline-secondary w-100">Biology</button>
        <button class="but btn-outline-secondary w-100">Other</button>
    </div>
</div>
<a class="icon">+</i></a>
</body>
</html>