<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
>
<head>
    <title>Users Profile</title>
    <style>
        #proImg{
            border-radius: 50%;
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/mynavbar::costomNavbar}">
</div>
    <div th:object="${author}">
        <img th:src="${author.cover}" alt="" class="w-100 object-fit-cover" style="height: 40vh"/>
        <div class="container" id="main-pro" style="margin-top: -5rem;">
            <div class="d-flex justify-content-start align-items-center">
                <img th:src="*{p_userImage}" id="proImg" alt="">
                <div class="detail mx-3 pt-3">
                    <h1 class="author-fullname" th:text="*{f_name}"></h1>
                    <p class="username" th:text="*{username}"></p>
                </div>
            </div>
            <div class="row mt-lg-5">
                <div class="info col bg-light p-4">
                    <h3>Detail Profile User</h3>
                    <div class="h-25 pt-5">
                        <p th:text="|Address : *{address}|"></p>
                        <p th:text="|Gender : *{sex}|"></p>
                        <p th:text="|Email : *{email}|"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="container d-flex justify-content-center">
                        <div class="row">
                            <div th:replace="${article.size()>0} ? ~{fragments/profilecard::costomercard(source='article')} :~{fragments/profilecard::no-post}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>